@model IEnumerable<dotnet_newbie.Models.Role>

@{
    ViewData["Title"] = "USER ROLES";
}

<div class="d-flex flex-row justify-content-between mb-4">
    <div class="d-flex align-items-center">
        <h1 class="header-title">@ViewData["Title"]</h1>

    </div>

    <div class="d-flex align-items-center">
        <a asp-action="Create" class="btn btn-success">Create New</a>

    </div>


</div>
<table class="table">
    <thead class="bg-dark text-white rounded-lg">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>

                    <a asp-action="Edit" asp-route-id="@item.Id"> <i class='bx bx-edit nav_icon'></i> </a>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class='bx bx-detail nav_icon'></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class='bx bx-trash nav_icon'></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
