@model IEnumerable<dotnet_newbie.Models.Role>

@{
    ViewData["Title"] = "Roles";
}

<div class="d-flex flex-row justify-content-between mb-4">
    <div class="d-flex align-items-center">
        <h1 class="header-title">@ViewData["Title"]</h1>

    </div>

    <div class="d-flex align-items-center">
        <a asp-action="Create" class="btn btn-success">Create New</a>

    </div>


</div>
<table class="table">
    <thead class="bg-dark text-white rounded-lg">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
@* 
                    <a asp-action="Edit" asp-route-id="@item.Id"> <i class='bx bx-edit nav_icon'></i> </a> *@
                    <a asp-action="Details" asp-route-id="@item.Id"><i class='bx bx-detail nav_icon'></i></a>
                     <a href="#" class="edit-link" data-role-id="@item.Id"><i class='bx bx-edit nav_icon'></i></a>
                    <a href="#" class="delete-link" data-role-id="@item.Id"><i class='bx bx-trash nav_icon'></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>

<!-- DELETE MODAL -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog"
    aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Delete</h5>

                <a href="" data-dismiss="modal" aria-label="Close"><i class='bx bx-x nav_icon'></i></a>

            </div>
            <div class="modal-body">
                Are you sure you want to delete this role?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cancel-delete" data-dismiss="modal">Cancel</button>
                <a id="deleteButton" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>


<!-- EDIT MODAL -->
<div class="modal fade" id="editConfirmationModal" tabindex="-1" role="dialog"
    aria-labelledby="editConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editConfirmationModalLabel">Confirm Delete</h5>

                <a href="" data-dismiss="modal" aria-label="Close"><i class='bx bx-x nav_icon'></i></a>

            </div>
            <div class="modal-body">
                Are you sure you want to edit this role?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cancel-edit" data-dismiss="modal">Cancel</button>
                <a id="editButton" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.delete-link').on('click', function () {
                var roleId = $(this).data('role-id');
                var deleteUrl = '@Url.Action("Delete", "Roles")/' + roleId;
                $('#deleteButton').attr('href', deleteUrl);
                $('#deleteConfirmationModal').modal('show');
            });

            $('.cancel-delete').on('click', function () {
                $('#deleteConfirmationModal').modal('hide');
            });

            
            $('.cancel-edit').on('click', function () {
                $('#editConfirmationModal').modal('hide');
            });

            $('.edit-link').on('click', function () {
                $('#editConfirmationModal').modal('show');
            });
        });
    </script>
}
