@{
    ViewData["Title"] = "News";
}
@model List<NewsArticle>

<h2>Privacy Policy</h2>
<h3>Top Headlines</h3>
<ul>
@foreach (var article in Model)
{
    <h3>@article.Title</h3>
    <p>@article.Description</p>
    @if (article.UrlToImage != null)
    {
        <img src="@article.UrlToImage" alt="@article.Title" />
    }
    <a href="@article.Url">Read More</a>
    <br />
}
</ul>